.why-choose{

    padding:120px 0;

    background:var(--bg);

}

.why-header{

    text-align:center;

    max-width:700px;

    margin:auto;

}

.why-header span{

    color:var(--primary);

    font-size:14px;

    font-weight:600;

    letter-spacing:2px;

}

.why-header h2{

    margin-top:16px;

    font-size:48px;

    color:var(--text);

    line-height:1.2;

}

.why-header p{

    margin-top:20px;

    color:var(--text-light);

    line-height:1.8;

    font-size:18px;

}
.why-grid{

    margin-top:70px;

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:30px;

}
.why-card{

    background:var(--card);

    border:1px solid var(--border);

    border-radius:24px;

    padding:35px 25px;

    text-align:center;

    transition:var(--transition);
cursor:pointer;

box-shadow:0 15px 35px rgba(0,0,0,.20);

overflow:hidden;
}
.why-icon{

    width:70px;

    height:70px;

    margin:0 auto 20px;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:36px;

    border-radius:50%;

    background:rgba(37,99,235,.12);

    border:1px solid rgba(37,99,235,.25);
box-shadow:
0 0 20px rgba(37,99,235,.20);

transition:var(--transition);
}

.why-card h3{

    font-size:28px;

    color:var(--text);

    margin-bottom:16px;

}

.why-card p{

    color:var(--text-light);

    line-height:1.7;

    font-size:16px;

}
.why-card:hover{

    transform:translateY(-10px);

    border-color:var(--primary);

    box-shadow:0 20px 50px rgba(37,99,235,.30);

}