.dashboard-layout{
    display:flex;
    min-height:100vh;
    background:#050B25;
    color:#ffffff;
}

.dashboard-sidebar{
    width:260px;
    background:#101935;
    border-right:1px solid #2D3B6B;
    padding:30px 20px;
}

.dashboard-main{
    flex:1;
    padding:30px;
    overflow:auto;
}
.dashboard-menu-item{
    padding:15px;
    margin-bottom:12px;
    border-radius:10px;
    cursor:pointer;
    background:#18244d;
    transition:.3s;
}

.dashboard-menu-item:hover{
    background:#24346d;
}
/* ==========================
   Dashboard Cards
========================== */

.dashboard-card-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
    margin-top:30px;
}

.dashboard-card{
    background:#101935;
    border:1px solid #2D3B6B;
    border-radius:15px;
    padding:20px;
    color:#ffffff;
    transition:0.3s ease;
     background:#101935 !important;
    color:#ffffff !important;
}

.dashboard-card:hover{
    transform:translateY(-5px);
    border-color:#4F46E5;
    box-shadow:0 10px 25px rgba(79,70,229,0.25);
}

.dashboard-card h3{
    margin-bottom:15px;
    font-size:18px;
    color:#ffffff;
}

.dashboard-card p{
    margin:8px 0;
    color:#d6d9e6;
}