.dashboard-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:30px;

}

.header-left h1{

    color:#ffffff;

    font-size:34px;

    margin-bottom:5px;

}

.header-left p{

    color:#AAB4C5;

}

.header-user{

    display:flex;

    align-items:center;

    gap:15px;

}

.user-avatar{

    width:50px;

    height:50px;

    border-radius:50%;

    background:#2563EB;

    display:flex;

    justify-content:center;

    align-items:center;

    color:white;

    font-weight:bold;

    font-size:20px;

}

.header-user h4{

    color:white;

    margin-bottom:4px;

}

.header-user p{

    color:#AAB4C5;

}