.sidebar{

    width:260px;

    min-height:100vh;

    background:#101935;

    border-right:1px solid #2D3B6B;

    padding:25px;

}

.sidebar-logo{

    margin-bottom:40px;

}

.sidebar-logo h2{

    color:white;

    font-size:32px;

    font-weight:700;

}

.sidebar-menu{

    display:flex;

    flex-direction:column;

    gap:12px;

}

.sidebar-menu button{

    border:none;

    background:#18244d;

    color:white;

    padding:15px;

    border-radius:12px;

    cursor:pointer;

    font-size:16px;

    text-align:left;

    transition:.30s;

}

.sidebar-menu button:hover{

    background:#2563EB;

    transform:translateX(5px);

}