.primary-btn{

    background:var(--primary);

    color:white;

    border:none;

    padding:16px 34px;

    border-radius:12px;

    cursor:pointer;

    transition:.3s;
}

.primary-btn:hover{

    background:var(--primary-hover);

    transform:translateY(-2px);

    box-shadow:var(--shadow);
}

.secondary-btn{

    background:transparent;

    color:white;

    border:1px solid var(--primary);

    padding:16px 34px;

    border-radius:12px;

    cursor:pointer;

    transition:.3s;
}

.secondary-btn:hover{

    background:var(--primary);
}